{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "import", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],

  "rules": {
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/consistent-type-definitions": ["error", "type"],
    "prettier/prettier": "error",
    "react/react-in-jsx-scope": "off",
    "import/extensions": ["error", "never"],
    "prefer-template": "error",
    "no-param-reassign": "error"
  },

  "env": {
    "browser": true,
    "es2021": true
  }
}
